label {
    font-size: 1.5em;
    padding-top: 0;
    margin-top: 10px;
  }
  
  input {
    font-size: 1em;
  }
  
  button {
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  span {
    font-size: 1.5em;
  }
  
  .transformLabel {
    color: blue;
    word-wrap: break-word;
    width: 40em;
    white-space: wrap;
  }

  .own {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 40em;
  }
  .own li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  
  .own li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .own a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  .own a:hover {
    color:#607D8B;
  }
  
  .own .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */